<div class="container">
  <h2>Login</h2>
  <form #loginForm="ngForm" (ngSubmit)="login()">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" class="form-control" name="username"
      placeholder="Username" required [(ngModel)]="model.username">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" name="password"
      placeholder="password" required [(ngModel)]="model.password">
    </div>
    <button type="submit" class="btn btn-inverse btn-large">Submit</button>
  </form>
</div>